$backgroundColor: #457b9d;

.about {
  padding: 7vh 0;
  background-color: #fff;
}

.about__image {
  width: 80vw;
  margin: 0 auto;
}

.about__title {
  font-family: Merriweather;
  font-size: 10vw;
  color: $backgroundColor;
  text-align: center;
  margin: 2vh 0;
}

.about__aboutMe {
  display: none;
}

.about__text {
  color: black;
  font-size: 5vw;
  padding: 3vh 4vw 1.5vh;
  line-height: 1.5;
}

@media (min-width: 600px) {
  .about__title {
    font-size: 5vw;
    text-align: center;
    margin-bottom: 5vh;
  }
  .about__aboutMe {
    display: block;
    font-family: Merriweather;
    font-size: 2vw;
    color: $backgroundColor;
  }

  .about__flex {
    display: flex;
    align-items: center;
    justify-content: space-around;
  }

  .about__image {
    width: 25vw;
  }

  .about__text {
    font-size: 1.5vw;
    max-width: 35vw;
    padding: 0;
  }

  .about__text {
    color: black;
    font-size: 1.2vw;
  }

  .about__image {
    margin: 0;
  }
}
