.contact-form {
  font-size: 6vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 5vh;

  label {
    font-family: Merriweather;
    display: block;
    margin: 2vh 0;
  }

  input {
    display: block;
    width: 50vw;
    height: 25px;
    border: none;
    background-color: transparent;
    border-bottom: 2px solid #fff;
    border-radius: 0;
    outline: none;
  }
}

.contact-button {
  font-family: Merriweather;
  font-size: 5vw;
  padding: 3%;
  background-color: transparent;
  border: 2px solid #fff;
  border-radius: 5px;
  margin: 3vh 0;
}

@media (min-width: 600px) {
  .contact-form {
    font-size: 2vw;
    margin: 5vh;

    input {
      width: 30vw;
      height: 50px;
      font-size: 1.5vw;
    }
  }

  .contact-button {
    font-size: 1.5vw;
    padding: 1%;
  }
}
