@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700&family=Open+Sans:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;1,500&display=swap");

$backgroundColor: #457b9d;
$primaryColor: #fff;

* {
  font-size: 62.5%;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: $primaryColor;
  font-family: Open Sans;
}

body {
  background-color: $backgroundColor;
}

.layout-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.content {
  flex: 1 0 auto;
}

.footer {
  flex-shrink: 0;
  margin-top: auto;
}
