.testimonials {
  background-color: #fff;
  padding: 5vh 0;
}

.testimonials__title {
  font-family: Merriweather;
  font-size: 8vw;
  color: #5d2a29;
  background-color: #fff;
  padding: 3vw;
}

.testimonials__card {
  width: 100%;
  height: 300px;
  background-color: #fff;

  .testimonials__card__quote {
    font-size: 5vw;
    color: #313131;
    text-align: center;
    padding: 7% 10% 2.5%;
  }

  .testimonials__card__author {
    font-family: Merriweather;
    color: black;
    font-weight: bold;
    font-size: 4.5vw;
    text-align: center;
  }
}

@media (min-width: 600px) {
  .testimonials__title {
    font-size: 2vw;
    text-align: center;
    padding: 2vh 0 0;
  }

  .testimonials__wrapper {
    width: 50vw;
    margin: 0 auto;
  }

  .testimonials__card {
    width: 50vw;
    height: 30vh;

    .testimonials__card__quote {
      font-size: 1vw;
      padding: 3% 10% 2.5%;
    }

    .testimonials__card__author {
      font-size: 1.5vw;
      padding-bottom: 5%;
    }
  }
}
