.home__title {
  font-family: Merriweather;
  font-size: 8vw;
  text-align: center;
  padding-top: 7vh;
  height: 40vh;
}

.home__title__image,
.home__about__image {
  width: 80vw;
  margin: 5vh auto;
}

.home__intro {
  height: 95vh;
  background-color: #fff;
  color: black;
  font-size: 5vw;
  padding: 40vh 3vw;
}

.home__about,
.home__testimonials {
  background-color: #fff;
}

.home__about__title {
  font-family: Merriweather;
  font-size: 8vw;
  color: black;
  margin-bottom: 2vh;
  padding: 0 3vw;
}

.home__about__description {
  color: black;
  font-size: 5vw;
  padding: 0 3vw;
}

.home__testimonials {
  background-color: #fff;
  padding-top: 8vh;
}

.home__testimonials__title {
  font-family: Merriweather;
  font-size: 8vw;
  color: black;
  margin-bottom: 2vh;
  padding: 0 3vw;
}

.home__testimonials__description {
  color: black;
  font-size: 5vw;
  padding: 0 3vw 5vh;
}

@media (min-width: 600px) {
  .home__header__title {
    font-size: 4.4vw;
    text-align: center;
    padding-top: 14vh;
  }

  .home__header__image {
    width: 25vw;
  }

  .home__info {
    padding: 40vh 5vw 0;
  }

  .home__info__description,
  .home__about__description,
  .home__testimonials__description {
    color: black;
    font-size: 1.2vw;
  }

  .home__about__title,
  .home__testimonials__title {
    font-size: 2vw;
  }
}
