.property {
  position: relative;
  width: 90vw;
  height: 45.5vh;
  border: #111 solid 1px;
  margin: 1vh 0;
  background-color: #ddd;
}

.property__image {
  height: 30vh;
}

.property__address {
  display: flex;
}

.property__street,
.property__city {
  font-family: Merriweather;
  font-size: 4.5vw;
  color: black;
}

.property__street {
  margin: 2vh 0 0 2vw;
}

.property__city {
  margin: 2vh 2vw 0 auto;
}

.property__price,
.property__bedBath {
  font-size: 4.5vw;
  color: #333;
  margin: 0 3vw;
}

.property__sold {
  font-family: Merriweather;
  font-size: 6vw;
  color: #0b5a0b;
  text-align: right;
  margin: 0 2vw;
}

@media (min-width: 600px) {
  .property {
    width: 40vw;
    height: 57.5vh;
    margin: 1vh 1vw;
  }

  .property__image {
    height: 40vh;
  }

  .property__street,
  .property__city {
    font-size: 1.3vw;
  }

  .property__price,
  .property__bedBath {
    font-size: 1.3vw;
    margin: 0 2vw;
  }

  .property__sold {
    font-size: 1.4vw;
  }
}
