.footer {
  height: 2vh;
  text-align: center;
  font-family: Merriweather;
  font-size: 2vw;
  color: black;
  background-color: #ffffff;
  padding: 10vh 0 8vh;
}

@media (min-width: 600px) {
  .footer {
    height: 2vh;
    font-size: 1vw;
  }
}
