.footer {
  text-align: center;
  font-family: Merriweather;
  font-size: 4vw;
  color: black;
  background-color: #fff;
  padding: 5vh 0;
}

@media (min-width: 600px) {
  .footer {
    font-size: 1vw;
  }
}
